:root {
  --ion-color-primary: #f97316;
  --ion-color-primary-rgb: 249, 115, 22;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #ea6c0a;
  --ion-color-primary-tint: #fb8c3a;

  --ion-color-secondary: #1a0a00;
  --ion-color-secondary-rgb: 26, 10, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #160800;
  --ion-color-secondary-tint: #2e1500;

  --ion-background-color: #0a0500;
  --ion-background-color-rgb: 10, 5, 0;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-contrast: #ffffff;
}

.dark, [color-scheme="dark"] {
  --ion-background-color: #0a0500;
  --ion-background-color-rgb: 10, 5, 0;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
}   